anyio
blinker
certifi
click
Flask
Flask-Cors
gunicorn
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
ollama
packaging
sniffio
Werkzeug
requests
python-dotenv
pillow
opencv-python
numpy
# AudioAdd
gtts
transformers
moviepy==1.0.3
ipython
torch
pyttsx3